PORT=__PORT__
NODE_ENV=development
DB_STRING=__DB_URI_
DB_PASSWORD=__DB_PASSWORD__
DB_NAME=__DB_NAME__
JWT_SECRET=__JWT_SECRET__
JWT_EXPIRES_IN=7d
FRONTEND_URL=__FRONTEND_URL__
JWT_RESET_PASSWORD_EXPIRES_IN=10m
EMAIL_USER=__EMAIL_USER__
EMAIL_PASS=__EMAIL_PASS__